@media screen and (min-width: 400px) {
  .content {
    padding: 0 16px;
  }

  .MainTextImage {
    background-image: url('./jamesandmelinda800.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
        padding-top: 60%;

  }
}

@media screen and (max-width: 400px) {
  .MainTextImage {
    background-image: url('./jamesandmelinda350.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
        padding-top: 60%;

  }

}

